.container{
	/* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px; */
    justify-items: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 56px;
    bottom: 46px;
    padding: 1vh 10px;
    overflow: auto;
    overflow-x: hidden;
    left: 0;
    transition: all 0.3s;
}

#page-map{
    display: none;
}

#vip_location_header_btn{
    width: 100%;
    margin-top: 10px;
}

.boundary_line{
    background: #a0a0a0;
    margin: 10px 0px 10px 0px;
}

.list_section{
    padding: 0px 50px 50px 50px;
}

.alert-info:hover{
    cursor: pointer;
}

@media screen and (max-width: 1396px) {
    .space_section{
        width: 31%;
    }
    .list_section{
        width: 38%;
    }
}

@media screen and (max-width: 1184px) {
    .space_section{
        width: 28%;
    }
    .list_section{
        width: 44%;
    }
}

@media screen and (max-width: 1048px) {
    .space_section{
        width: 26%;
    }
    .list_section{
        width: 48%;
    }
}

@media screen and (max-width: 976px) {
    .space_section{
        width: 23%;
    }
    .list_section{
        width: 54%;
    }
}

@media screen and (max-width: 824px) {
    .space_section{
        width: 17%;
    }
    .list_section{
        width: 66%;
    }
}

@media screen and (max-width: 767px) {
    .list_section{
        width: 84%;
    }
    .locationsView{
        padding-left: 15%;
    }
}

@media screen and (max-width: 634px) {
    .list_section{
        width: 88%;
    }
    .locationsView{
        padding-left: 11%;
    }
    .list_section{
        padding: 0px 30px 50px 30px;
    }
}

@media screen and (max-width: 512px) {
    .list_section{
        width: 96%;
    }
    .locationsView{
        padding-left: 2%;
    }
    .list_section{
        padding: 0px 25px 50px 25px;
    }
}

@media screen and (max-width: 462px) {
    .list_section{
        width: 100%;
    }
    .locationsView{
        padding-left: 0%;
    }

}